@font-face {
  font-family: 'iconfont'; /* Project id 3339304 */
  src: url('//at.alicdn.com/t/font_3339304_c0bn137eog.woff2?t=1653635137258')
      format('woff2'),
    url('//at.alicdn.com/t/font_3339304_c0bn137eog.woff?t=1653635137258')
      format('woff'),
    url('//at.alicdn.com/t/font_3339304_c0bn137eog.ttf?t=1653635137258')
      format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconfont' !important;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-node-js:before {
  content: '\ec12';
}
.icon-arrow-down:before {
  content: '\e687';
}

.icon-arrow-right:before {
  content: '\e688';
}

.icon-arrow-left:before {
  content: '\e685';
}

.icon-arrow-up:before {
  content: '\e686';
}
.icon-upload:before {
  content: '\e6b2';
}
.icon-date:before {
  content: '\e638';
}

.icon-collect-line:before {
  content: '\e8ab';
}

.icon-collect-full:before {
  content: '\e8c3';
}

.icon-project:before {
  content: '\e64c';
}

.icon-members:before {
  content: '\e637';
}

.icon-xiangmu:before {
  content: '\e607';
}

.icon-home:before {
  content: '\e867';
}

.icon-info:before {
  content: '\e60b';
}

.icon-fire:before {
  content: '\e729';
}
