@import './tailwind.scss';
@import './icon.scss';
@import './reset.scss';
@import './animate.scss';

.btn-standard {
  @apply p-2 rounded transition-colors duration-300 cursor-pointer underline-offset-4;
  &.active {
    @apply underline;
  }
  &:hover {
    @apply text-theme-primary hover:bg-theme-primary/20 no-underline;
  }
}

.card {
  background-color: #fff;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  // overflow: hidden;
  // color: #676c6f;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 24px;
  min-width: 264px;
  transition: all 0.2s ease;
  @apply shadow-card;
}
